body {
  font-family: 'Roboto';
  font-size: 16px;
}

.kaka-navbar {
  padding: 0;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.06);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999999;
  background-color: #fff;
}

.kaka-navbar-top {
  width: 100%;
  height: 30px;
  background-color: #5DA63E;
  color: #fff;
  display: flex;
  align-items: center;
}

.kaka-navbar-top-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.kaka-navbar-top-icon-container {
  display: flex;
  align-items: center;
  margin: 5px 15px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.kaka-navbar-top-icon-text {
  font-size: 14px;
  margin-left: 5px;
}

.kaka-navbar-top-icon-email {
  height: 14px;
}

.kaka-navbar-top-icon-zalo {
  height: 20px;
}

.kaka-navbar-container {
  padding: 0 !important;
}

.kaka-navbar-toggle {
  margin: 0 12px;
}

#navbarText {
  background-color: rgb(248, 249, 250);
  padding: 5px 10px;
}

.kaka-navbar-content {
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 0 !important;
}

.kaka-navbar-logo-container {
  height: 70px;
  width: 182px;
}

.kaka-navbar-logo {
  height: 55px;
}

.kaka-navbar-item {
  font-weight: 600;
}

.kaka-navbar-item-logo {
  display: flex;
}

.kaka-navbar-link {
  padding: 10px 20px !important;
}

.kaka-navbar-link:hover {
  color: #5DA63E !important;
}

.kaka-navbar-active {
  color: #5DA63E !important;
  border-bottom: 3px solid !important;
}

.kaka-navbar-right {
  float: right;
}

.kaka-main {
  padding-top: 110px;
}

.kaka-floating {
  position: fixed;
  right: 40px;
  bottom: 40px;
  display: flex;
  flex-direction: column;
}

.kaka-floating-link {
  margin: 0 5px;
}

.kaka-floating-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 3px solid #5DA63E;
}

.kaka-footer {
  background-color: #5DA63E;
  color: #fff;
}

.kaka-footer-container {
  display: flex;
}

.kaka-footer-content {
  padding: 50px 0;
}

.kaka-footer-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.kaka-footer-info {
  display: flex;
  align-items: center;
}

.kaka-footer-info-label {
  font-weight: 600;
  margin-right: 5px;
  flex-shrink: 0;
}

.kaka-footer-logo-container {
  display: flex;
}

.kaka-footer-logo-link {
  display: flex;
  align-items: center;
}

.kaka-footer-logo-image-shopee {
  width: 45px;
  height: 45px;
  margin-right: 8px;
}

.kaka-footer-logo-image-lazada {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.kaka-footer-logo-image-facebook {
  width: 40px;
  height: 40px;
}

.kaka-footer-copyright {
  display: flex;
  justify-content: center;
  padding: 5px;
  color: rgba(0, 0, 0, 0.54);
}

/* Main starts */

.kaka-banners {
  margin-top: 50px;
}

.kaka-highlight, .kaka-top-product {
  padding: 50px 0;
}

.kaka-top-product-row {
  margin: auto 0;
  padding: 0;
}

.kaka-highlight-title, .kaka-top-product-title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}

.kaka-highlight-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
}

.kaka-highlight-info-image {
  width: 145px;
  height: 145px;
}

.kaka-highlight-info-title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 700
}

.kaka-banner {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.26);
}

.kaka-banner-image {
  max-width: 800px;
}

/* Main ends */

/*  About us starts */

.kaka-about-us-container {
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kaka-about-us-title {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  color: #5DA63E;
}

.kaka-about-us-description {
  font-size: 24px;
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 30px;
}

.kaka-about-us-text {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.54);
}

/*  About us ends */

/* Product starts */
.kaka-top-product-card {
  overflow: hidden;
}

.kaka-product-page-title {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  color: #5DA63E;
}

.kaka-product-container {
  padding: 50px 0;
}

.kaka-top-product-link {
  text-decoration: none;
  color: rgba(33, 37, 41);
}

.kaka-product-card-title {
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  color: #5DA63E;
  text-transform: capitalize;
}

.kaka-product-list-container {
  margin-bottom: 50px;
}

.kaka-product-list-row {
  margin-bottom: 20px;
}

/* Product ends */

/* Product detail starts */
.kaka-product-detail-container {
  margin-bottom: 100px;
}
.kaka-product-detail-title {
  font-size: 34px;
  font-weight: 900;
  color: #5DA63E;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.kaka-product-detail-sub-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
}
/* Product detail ends */

/* Contact starts */
.kaka-contact-us-container {
  padding: 100px 0;
}

.kaka-contact-us-title {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  color: #5DA63E;
}

.kaka-contact-us-info {
  margin-bottom: 50px;
}

.kaka-contact-us-company-name {
  font-size: 22px;
  font-weight: 800;
}

.kaka-contact-us-info-text {
  font-weight: 600;
}

.kaka-contact-us-zalo {
  border: 1px solid rgba(0, 0, 0, 0.54);
  border-radius: 3px;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
}

.kaka-contact-us-zalo-qr {
  width: 270px;
  height: 270px;
  background: grey;
  margin: 25px;
}

.kaka-contact-us-zalo-text {
  font-size: 20px;
  margin-bottom: 10px;
}
/* Contact ends */

@media screen and (max-width: 500px) {
  .kaka-navbar-top-container {
    justify-content: center;
  }

  .kaka-navbar-top-icon-text {
    display: none;
  }

  #navbarText {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.06);
  }

  .kaka-navbar-container {
    padding: 0 12px !important;
  }

  .kaka-navbar-right {
    float: none;
    display: flex !important;
  }

  .kaka-banner-image {
    width: 100%;
  }

  .kaka-top-product-card {
    margin: 10px 0;
    padding: 15px;
  }

  .kaka-contact-us-zalo {
    margin-top: 25px;
  }

  .kaka-footer-content {
    padding: 20px 0;
  }
}
