body {
  font-family: 'Roboto';
  font-size: 16px;
}

.kaka-navbar {
  padding: 0;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.06);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999999;
  background-color: #fff;
}

.kaka-navbar-top {
  width: 100%;
  height: 30px;
  background-color: #5DA63E;
  color: #fff;
  display: flex;
  align-items: center;
}

.kaka-navbar-top-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.kaka-navbar-top-icon-container {
  display: flex;
  align-items: center;
  margin: 0 15px;
  cursor: pointer;
}

.kaka-navbar-top-icon-text {
  font-size: 14px;
  margin-left: 5px;
}

.kaka-navbar-top-icon-email {
  height: 14px;
}

.kaka-navbar-top-icon-zalo {
  height: 20px;
}

.kaka-navbar-collapse {
  background-color: #fff;
}

#navbarText {
  background-color: #fff;
  padding: 5px 10px;
}

.kaka-navbar-content {
  height: 80px;
  display: flex;
  align-items: center;
}

.kaka-navbar-logo-container {
  height: 65px;
  width: 150px;
}

.kaka-navbar-logo {
  height: 55px;
}

.kaka-navbar-item {
  font-weight: 600;
}

.kaka-navbar-active {
  color: #5DA63E !important;
  border-bottom: 3px solid !important;
}

.kaka-main {
  padding-top: 110px;
}

.kaka-footer {
  background-color: #5DA63E;
  color: #fff;
}

.kaka-footer-container {
  display: flex;
}

.kaka-footer-content {
  padding: 50px 0;
}

.kaka-footer-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.kaka-footer-info {
  display: flex;
  align-items: center;
}

.kaka-footer-info-label {
  font-weight: 600;
  margin-right: 5px;
  flex-shrink: 0;
}

.kaka-footer-logo-container {
  display: flex;
}

.kaka-footer-logo-link {
  display: flex;
  align-items: center;
}

.kaka-footer-logo-image-shopee {
  width: 45px;
  height: 45px;
  margin: 8px;
}

.kaka-footer-logo-image-facebook {
  width: 40px;
  height: 40px;
}

.kaka-footer-copyright {
  display: flex;
  justify-content: center;
  padding: 5px;
  color: rgba(0, 0, 0, 0.54);
}

/* Main starts */

.kaka-banners {
  margin-top: 50px;
}

.kaka-highlight {
  padding: 50px 0;
}

.kaka-highlight-title {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}

.kaka-highlight-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.kaka-highlight-info-image {
  width: 145px;
  height: 145px;
}

.kaka-highlight-info-title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 700
}

.kaka-banner {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.26);
}

.kaka-banner-image {
  max-height: 800px;
  max-width: 800px;
}

/* Main ends */

/*  About us starts */
.kaka-about-us-intro {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*  About us ends */

/* Product starts */

/* Product ends */

/* Contact starts */

/* Contact ends */
